
<div class="admin-page">
  <p class="admin-header">职员管理</p>
  <hr/>
  <div class="admin-search">
    <form class="form-inline" [formGroup]='formModel' (ngSubmit)='submit()' novalidate>
      <span class="admin-header1">职员搜索</span>
      <div class="form-group mx-sm-3 mb-2">
        <label for="input2" class="sr-only">ID</label>
        <input formControlName='code' type="text" class="form-control" id="input2" placeholder="请输入编号">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="input4" class="sr-only">姓名</label>
        <input formControlName='name' type="text" class="form-control" id="input4" placeholder="请输入姓名">
      </div>
      <el-date-picker [format]="'yyyy - MM'" [hidden-day]="true" formControlName='data' [size]="small"
                      placeholder='请选择入职月份'>
      </el-date-picker>
      <div class="form-group mx-sm-3 mb-2">
        <label for="input3" class="sr-only">年龄</label>
        <select formControlName="age" id="input3" placeholder="请选择年龄" class="form-control">
          <option value="-1">年龄</option>
          <option [value]="ages" *ngFor="let ages of ages">{{ages}}</option>
        </select>
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label for="input1" class="sr-only">部门</label>
        <select formControlName="reach" id="input1" placeholder="请选择所属部门" class="form-control">
          <option value="-1">所属部门</option>
          <option [value]="reach" *ngFor="let reach of reach">{{reach}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary mb-2" icon="search">
        <el-icon name="search"></el-icon>
        搜索
      </button>
    </form>
  </div>
  <hr/>

  <el-table *ngIf="adminNumber " [model]="adminNumber" center="all" scroll-x="false">

    <el-table-column model-key="code" label="编号" width="120">
    </el-table-column>
    <el-table-column model-key="name" label="姓名" width="120">
    </el-table-column>
    <el-table-column model-key="date" label="入职日期" width="120">
    </el-table-column>
    <el-table-column model-key="reach" label="所属部门" width="120">
    </el-table-column>
    <el-table-column model-key="phone" label="联系方式">
    </el-table-column>
    <el-table-column model-key="star" label="表现状况">
    </el-table-column>
    <el-table-column model-key="demerits" label="通报次数">
    </el-table-column>
    <el-table-column label="删除" width="120">
      <ng-template #slot let-scope="scope">
        <el-button type="danger" size="arge" (click)="deleteAdmin('success' ,scope)" [el-class]="'mes'"><i
          class="el-icon-delete"></i></el-button>
      </ng-template>
    </el-table-column>
    <el-table-column label="详情" width="120">
      <ng-template #slot let-scope="scope">
        <el-button type="success" size="arge" (click)="detailAdmin(scope)" [el-class]="'mes'"><i
          class="el-icon-view"></i></el-button>
      </ng-template>
    </el-table-column>
  </el-table>

  <el-pagination *ngIf="total " [total]="total"
                 [layout]="['prev', 'pager', 'next', 'total']"
                 [el-class]="'admin-pagination'"
                 (modelChange)="pagination($event)"
  >
  </el-pagination>
</div>

