<ng-container>

  <p class="admin-header">操作日志</p>
  <hr/>
  <div [el-class] = "'loginlog'" *ngIf="log">

    <el-table [model]="log.data" [stripe]="true" center="all">
      <el-table-column model-key="ip" label="IP" width="200">
      </el-table-column>
      <el-table-column model-key="date" label="时间" width="200">
      </el-table-column>
      <el-table-column model-key="desc" label="操作" width="200">
      </el-table-column>
    </el-table>
    <el-pagination *ngIf="log" [total]="log.total"
                   [layout]="['prev', 'pager', 'next', 'total']"
                   [el-class]="'admin-pagination'"
                   (modelChange)="pagination($event)"
                   page-size="5"
    >
    </el-pagination>
  </div>

</ng-container>
