<div class="assay-table">
  <div class="data-assay"><span>数据解析</span></div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">区域</th>
      <th scope="col">负载</th>
      <th scope="col">故障时间</th>
      <th scope="col">是否优化</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td scope="row">{{assDescriptpon?.area}}</td>
      <td>{{assDescriptpon?.press}}</td>
      <td>{{assDescriptpon?.bugtime}}</td>
      <td>{{assDescriptpon?.needOptimize}}</td>
    </tr>
    <tr>
      <th scope="row">相关度</th>
      <th>故障几率</th>
      <th>修复几率</th>
      <th>可行性措施</th>
    </tr>
    <tr>
      <td scope="row">{{assDescriptpon?.relevance}}</td>
      <td>{{assDescriptpon?.bugCan}}</td>
      <td>{{assDescriptpon?.cureCan}}</td>
      <td>{{assDescriptpon?.hows}}</td>
    </tr>
    </tbody>
  </table>
</div>
