#dataZoom {
  width: 100%;
  height: 25rem;
}
.data-assay {
  width: 100%;
  height: 4.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  padding-top: .8rem;
}
#oneLine {
  margin-top: 2rem;
  width: 100%;
  height: 20rem;
}
.assay-table {
  padding: 2rem 2rem 2rem ;
}
