<ng-container>
  <p class="admin-header">修改信息</p>
  <hr/>

  <el-form [formGroup]="validateForm" label-width="100px" size="small"
           [show-icon]="true" [show-message]="true" el-class="form-demo">

    <div el-row gutter="20">
      <div el-col [span]="6">
        <el-form-item label="姓名" [required]="true"
                      [status]="statusCtrl('name')" [error]="messageCtrl('name')">
          <el-input formControlName="name" [model] = 'forminits ?.name' [value]="forminits ?.name"></el-input>
        </el-form-item>
      </div>
      <div el-col [span]="6">
        <el-form-item label="性别" [required]="true"
                      [status]="statusCtrl('name')" [error]="messageCtrl('name')">
          <!--<el-select [model]="'选项2'" formControlName="sex">

          </el-select>-->
          <el-select [model]="forminits ?.sex">
            <el-option *ngFor="let item of [{value: 1,label: '男' },
    { value: 2, label: '女' }]"
                       [label]="item.label"
                       [value]="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </div>
      <div el-col [span]="6">
        <el-form-item label="编号" [required]="true"
                      [status]="statusCtrl('code')" [error]="messageCtrl('code')">
          <el-input formControlName="code" [elDisabled]="true" [value]="forminits ?.code"></el-input>
        </el-form-item>
      </div>
      <div el-col [span]="6">
        <el-form-item label="权限" [required]="true"
                      [status]="statusCtrl('root')" [error]="messageCtrl('root')">
          <el-select [model]="'1'" formControlName="root" [elDisabled]="true">

            <el-option *ngFor="let item of [{value: '1',label: '普通员工' },
                                            { value: '2' , label: '系统管理员' }]"
                       [label]="item.label"
                       [value]="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </div>
    </div>
    <div el-row gutter="20">
      <div el-col [span]="12">
        <el-form-item label="家庭住址" [required]="true"
                      [status]="statusCtrl('name')" [error]="messageCtrl('name')">
          <el-input formControlName="address" [value]="forminits ?.address"></el-input>
        </el-form-item>
      </div>
      <div el-col [span]="12">
        <el-form-item label="身份证号" [required]="true"
                      [status]="statusCtrl('name')" [error]="messageCtrl('name')">
          <el-input formControlName="identity" [value]="forminits ?.identity"></el-input>
        </el-form-item>
      </div>
    </div>
    <div el-row gutter="20">
      <div el-col [span]="6">
        <el-form-item label="手机号" [required]="true"
                      [status]="statusCtrl('phone')" [error]="messageCtrl('phone')">
          <el-input formControlName="phone" [value]="forminits ?.phone"></el-input>
        </el-form-item>
      </div>
      <div el-col [span]="6">
        <el-form-item label="年龄" [required]="true"
                      [status]="statusCtrl('age')" [error]="messageCtrl('age')">
          <el-input formControlName="age" [value]="forminits ?.age"></el-input>
        </el-form-item>
      </div>
      <div el-col [span]="6">
        <el-form-item label="部门" [required]="true"
                      [status]="statusCtrl('reach')" [error]="messageCtrl('reach')">
          <el-select [model]="forminits ?.reach" formControlName="reachs">
            <el-option *ngFor="let item of [{value: 1, label: '策划' }, { value: 2, label: '行政' },
    { value: 3, label: '公关' }, { value: 4, label: '研发二' },
    { value: 5, label: '市场二' }, { value: 6, label: '设计二' },
    { value: 7, label: '市场一' }, { value: 8, label: '研发三' }]; "
                       [label]="item.label"
                       [value]="item.label">
            </el-option>
          </el-select>
        </el-form-item>
      </div>
      <div el-col [span]="6">
        <el-form-item label="应届" [required]="true"
                      [status]="statusCtrl('fresh')" [error]="messageCtrl('fresh')">
          <el-select [model]="forminits ?.fresh" formControlName="fresh">
            <el-option *ngFor="let item of [{value: 1,label: '是' },
                                            { value: 0, label: '否' }]"
                       [label]="item.label"
                       [value]="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </div>

    </div>
    <div el-row gutter="20">
      <div el-col [span]="8">
        <el-form-item label="入职日期" [required]="true"
                      [status]="statusCtrl('date')" [error]="messageCtrl('date')">
          <el-date-picker (modelChange)="handle($event)"
                          [format]="'yyyy年MM月-dd日'" formControlName="date"
                          [model]='forminits?.date'>
          </el-date-picker>
        </el-form-item>
      </div>
    </div>

    <div el-row gutter="20">
      <div el-col [span]="24">
      <el-form-item label="基本待遇">
        <el-checkbox-group formControlName="deal" (modelChange)='deal'>>
          <el-checkbox label="养老保险">养老保险</el-checkbox>
          <el-checkbox label="养老保险">养老保险</el-checkbox>
          <el-checkbox label="医疗保险">医疗保险</el-checkbox>
          <el-checkbox label="失业保险">失业保险</el-checkbox>
          <el-checkbox label="工伤保险">工伤保险</el-checkbox>
          <el-checkbox label="生育保险">生育保险</el-checkbox>
          <el-checkbox label="禁用" [elDisabled]="true">基本工资</el-checkbox>
          <el-checkbox label="禁用" [elDisabled]="true">项目提成</el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      </div>
    </div>
    <div el-row gutter="20">
      <div el-col [span]="12">
        <el-form-item label="基本表现">
          <el-rate formControlName="stars" [model]="stars" (modelChange) = "starrate($event)" [colors]="['#99A9BF']"></el-rate>
        </el-form-item>
      </div>
      <div el-col [span]="12">
        <el-form-item label="通报次数">
          <el-input-number formControlName="demerit" [model]="demer" (modelChange)="changeDemerits($event)" [min]="1" [max]="10"></el-input-number>
        </el-form-item>
      </div>
    </div>
    <div el-row gutter="20">
      <div el-col [span]="24">
        <el-button type="primary" (click)="submit()">提交</el-button>
        <el-button type="primary" (click)="reset()">重置</el-button>
      </div>
    </div>
  </el-form>
</ng-container>
