<div el-row class="header">
  <div el-col span="5"><div class="grid-content bg-purple"><i class="fa fa-window-restore" aria-hidden="true"></i></div></div>
  <div el-col span="16">
    <div class="grid-content bg-purple-light">
      <el-menu [model]="0" class="el-menu-demo" mode="horizontal" [el-class] = "'nav'"
             background-color="#20a0ff"
             active-text-color="#ffffff"
             text-color="#ffffff"
             border-bottom-color="#20a0ff"
    >
      <el-menu-item index="1"><a routerLink="/data">控制台</a></el-menu-item>
      <el-menu-item index="2"><a routerLink="/tools">工具集</a></el-menu-item>
      <el-menu-item index="3"><a routerLink="/message">Message</a></el-menu-item>
    </el-menu>
    </div>
  </div>
 <div el-col span="3">
   <div class="loginuser"><img [src]="headohoto" alt=""/></div>
   <span class="loginname" (mouseover)="this.cure = ! this.cure"><a routerLink="/user" [queryParams]="{id: 1, name: 'admin' }" style="color:#ffffff">系统管理员</a></span>
   <div id="message">
     <a routerLink="/user/info" style="color:#ffffff;display: block"><i class="fa fa-envelope-o user-message" aria-hidden="true"></i></a>
     <i class="message-number">1</i>
   </div>
   <div class="message-slide-clue" [class.show-slide-message] = "cure"><span><a routerLink="/user/info">系统通知</a></span><span><a routerLink="/setting">系统设置</a></span><span  (click)="outLogin()">退出登录</span></div>
 </div>
</div>

