.header {
  color:#ffffff;
  font-weight: 600;
  height: 20%;
}
.nav {
  background-color: #20a0ff;
  height: 6rem;
  padding-top: 1rem;
}
.el-menu {
  background-color: #20a0ff;
}
.fa-window-restore {
  font-size: 3rem;
  line-height: 6rem;
  margin-left: 2rem;
}
.loginuser {
  background-color: red;
  position: absolute;
  top:1rem;
}
.loginuser >img {
  background-color: red;
  position: absolute;
  top: .5rem;
  height: 3rem;
  right: -8rem;
  width: 3rem;
  border-radius: 50%;
}
.loginname {
  border-radius: 50%;
  display: block;
  margin-left: -1rem;
  margin-top: 2rem;
}
.admin {
  height: 6rem;
  padding-top: 1rem;
}
.admin-slide {
  position: absolute;
  top:2rem;
  right: .5rem;
}
.user-message {
  font-size: 2rem;
  position: absolute;
  top: -1.5rem;
  right: 4rem;
}
#message{
  position: relative;
}
.message-number {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  color: red;
  position: absolute;
  top: -1.9rem;
  right: 3.5rem;
  display: block;
  background-color: #ffffff;
  font-size: .8rem;
  line-height: 1rem;
  text-align: center;
}
.message-slide-clue {
  width: 7.5rem;
  height: 9rem;
  position: absolute;
  z-index: 50;
  margin-left: -1.4rem;
  top: 3.9rem;
  background: rgba(0,0,0,.5);
}
.show-slide-message {
  display: none;
}
.message-slide-clue >span a , .message-slide-clue >span{
  display: block;
  line-height: 3rem;
  text-align:  center;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}
.loginname >a {
  text-decoration:  none;
}
