<div class="login-box">
  <form [formGroup] = 'formModel' (ngSubmit) = 'submit()' novalidate class="login" style="height: 22rem">
    <div class="form-group form-write1 form-write" [class.has-error]="formModel.hasError('phone','phone')">
      <label for="phone">手机号</label>
      <input formControlName="phone" type="text" id="phone" placeholder="请输入手机号" class="form-control"/>
      <span class="vaildata-login" (click)="sendMessage()">{{noticeessage}}</span>
      <span class="form-text" [class.hidden]="!formModel.hasError('phone','phone')">
      请输入合法的手机号
    </span>
    </div>
    <div class="form-group form-write" [class.has-error]="formModel.hasError('password','password')">
      <label for="pass">密 码</label>
      <input formControlName="password" type="password" id="pass" placeholder="请输入密码" class="form-control"/>
      <span class="form-text" [class.hidden]="!formModel.hasError('password','password')">
      请输入合法的密码
    </span>
    </div>
    <div class="form-group form-write">
      <label for="repass">验证码</label>
      <input formControlName="message" type="text" id="repass" placeholder="请输入验证码" class="form-control"/>
      <!--<span class="form-text" [class.hidden]="!formModel.hasError('repass','repass')">
      验证码不正确
    </span>-->
    </div>
    <div class="form-group form-write">
      <input type="checkbox" formControlName="protocol" id="select" class="form-control"/>
      <a href="www.baidu.com" class="admin-select">请阅读遵守《互联网安全协议》</a>
    </div>
    <div class="form-group form-write2">
      <button type="submit" class="btn btn-primary btn-block" id="loginButton" style="margin-top: -1.5rem">注册</button>
    </div>
  </form>
</div>

